# CarCraft Environment Configuration
SECRET_KEY=carcraft-super-secret-key-prod-grade-9948271649281
DEBUG=True
ALLOWED_HOSTS=*

# MySQL Database Settings
DB_NAME=carcraft
DB_USER=carcraft_user
DB_PASSWORD=carcraftpass
DB_HOST=127.0.0.1
DB_PORT=3306
